* {
  background-color: #ffffff;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15em;
}

.element {
  display: flex;
  flex-direction: column;
  padding: 2em;
  white-space: normal;
  align-items: center;
  width: 15em;
  height: 20em;
  margin: 2em;
  background-color: #4ba3c3;
  border-radius: 10px;
  box-shadow: 4px 4px 12px 4px rgba(0, 0, 0, 0.4);
}

.images {
  border-radius: 10px;
  height: 12em;
  width: 12em;
}

h1 {
  color: black;
  font-size: 1.5em;
}

h2 {
  background-color: #4ba3c3;
}

p {
  background-color: #4ba3c3;
}

.title {
  text-align: center;
}

.description {
  text-align: center;
}

.footer {
  margin-top: 5em;
}
